<?xml version="1.0"?>
<config>
    <sections>
        <design translate="label">
            <groups>
                <image translate="label">
                    <label>Image Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <product_resize_method translate="label">
                            <label>Product Image Resize Method</label>
                            <source_model>phpthumb/source_resize_method</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_resize_method>
                    </fields>
                </image>
            </groups>
        </design>
    </sections>
</config>
